<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vue js is extremely good framework to build a frontend & laravel is good for backend development, let's combine the power of both to build a simple ajax pagination component."/>
    <meta name="author" content="Vivek Dhumal"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@vivekdhumal"/>
    <meta name="twitter:creator" content="@vivekdhumal"/>
    <meta name="twitter:title" content="Make paginator component for ajax pagination using Vue js & Laravel"/>
    <meta name="twitter:description" content="Vue js is extremely good framework to build a frontend & laravel is good for backend development, let's combine the power of both to build a simple ajax pagination component."/>
    <meta name="twitter:image" content="http://vivekdhumal.com/assets/images/vivek.jpg"/>

    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://vivekdhumal.com/make-paginator-component-for-ajax-pagination-using-vuejs-and-laravel-20170722"/>
    <meta property="og:title" content="Make paginator component for ajax pagination using Vue js & Laravel"/>
    <meta property="og:image" content="http://vivekdhumal.com/assets/images/vivek.jpg"/>
    <meta property="og:description" content="Vue js is extremely good framework to build a frontend & laravel is good for backend development, let's combine the power of both to build a simple ajax pagination component."/>

    <title>Vivek Dhumal Make paginator component for ajax pagination using Vue js & Laravel</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89108682-1', 'auto');
  ga('send', 'pageview');
</script>


<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <!-- Collapsed Hamburger -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Branding Image -->
        <a class="navbar-brand" href="/">
            <strong>Vivek Dhumal</strong>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="app-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home</a></li>
          <li class=""><a href="/about-me/">About Me</a></li>
        </ul>
      </div>
    </div>
</nav>

<div class="container">
    <div class="post-wrapper">
            <a href="/">Back to home</a><br><br>

	<div class="panel panel-default" id="postBodyPanel">
		<div class="panel-body">
		    <h3 class="text-primary post-heading">Make paginator component for ajax pagination using Vue js & Laravel</h3>

		    <p><small>July 22, 2017</small></p>

		                <p>Okay, for this project we are using Laravel 5.4 and vue 2.4 and I assumed that you have a basic knowledge vue and laravel.</p>
<p>So first thing first, let's create a api controller for user feeds like so</p>
<p><strong>app/Http/Controllers/Api/UserController.php</strong></p>
<pre><code class="language-php">&lt;?php

namespace App\Http\Controllers\Api;

use App\User;
use Illuminate\Http\Request;
use App\Http\Controllers\Controller;

class UserController extends Controller
{
    /**
     * Show all users.
     *
     * @return  json
     */
    public function index()
    {
        return User::paginate(5);
    }
}</code></pre>
<p>Make sure to update your database connection details under the .env file.</p>
<p>Here we are using default user model and database migrations to create the user tables, for this will run the following command</p>
<pre><code class="language-bash">$ php artisan migrate</code></pre>
<p>Will populate the user table with some 20 fake records by using default model factory (<strong>database/factories/ModelFactory.php</strong>) provided by laravel and tinker.</p>
<pre><code class="language-bash">$ php artisan tinker
&gt;&gt; factory(App\User::class, 20)-&gt;create();</code></pre>
<p>and our api route file will look like</p>
<pre><code class="language-php">&lt;?php

Route::group(['namespace' =&gt; 'Api'], function(){

    Route::get('/users', 'UserController@index');
});</code></pre>
<p>so we are done with backend work if we hit the <code>http://localhost:800/api/users</code> will get the json stream as below.</p>
<pre><code class="language-json">{
    "current_page": 1,
    "data": [
        {
            "id": 1,
            "name": "Vivek Dhumal",
            "email": "vivekdhumalmail@gmail.com",
            "created_at": "2017-07-01 14:16:08",
            "updated_at": "2017-07-16 13:11:58"
        },
        {
            "id": 2,
            "name": "test",
            "email": "testing@gmail.com",
            "created_at": "2017-07-20 13:24:29",
            "updated_at": "2017-07-20 13:24:29"
        },
        {
            "id": 3,
            "name": "Vito Corleone",
            "email": "vito@example.com",
            "created_at": "2017-07-20 13:24:48",
            "updated_at": "2017-07-20 13:24:48"
        },
        {
            "id": 4,
            "name": "Bruce Wayne",
            "email": "bruce@example.com",
            "created_at": "2017-07-20 13:25:24",
            "updated_at": "2017-07-20 13:25:24"
        },
        {
            "id": 5,
            "name": "Micheal Corleone",
            "email": "micheal@example.com",
            "created_at": "2017-07-20 13:25:47",
            "updated_at": "2017-07-20 13:25:47"
        }
    ],
    "from": 1,
    "last_page": 4,
    "next_page_url": "http://project-tracker.dev/api/users?page=2",
    "path": "http://project-tracker.dev/api/users",
    "per_page": 5,
    "prev_page_url": null,
    "to": 5,
    "total": 20
}</code></pre>
<p>For frontend will use the default js boilerplate code comes with laravel installation, will install the npm dependencies.</p>
<pre><code class="language-bash">$ npm install</code></pre>
<p>it will install all dependencies along with the <strong>vue and laravel-mix</strong></p>
<p>let's jump to the resources director, I personaly like the <strong>ecmascript 2015</strong> standard so first will modify the bootstrap.js like so.</p>
<pre><code class="language-javascript">import Vue from 'vue';
import Axios from 'axios';
import JQuery from 'jquery';
import Lodash from 'lodash';

window._ = Lodash;
window.Vue = Vue;

try {
    window.$ = window.jQuery = JQuery;
    require('bootstrap-sass');
} catch (e) {}

window.axios = Axios;
window.axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';

let token = document.head.querySelector('meta[name="csrf-token"]');
if (token) {
    window.axios.defaults.headers.common['X-CSRF-TOKEN'] = token.content;
} else {
    console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
}

// Creating custom event dispatcher
window.Event = new class {
    constructor() {
        // You can only listen and fire event through new vue instance
        this.vue = new Vue();
    }

    fire(event, data = null) {
        this.vue.$emit(event, data);
    }

    listen(event, callback) {
        this.vue.$on(event, callback);
    }
};</code></pre>
<p>we are just modifying it as per the ECMAScript 2015 standard and we are adding a custom event dispatcher <strong>window.Event</strong> class around the vue's eventing system, to fire and listen the event easily from any vue component. you can find the <a href="https://vuejs.org/v2/api/#vm-on" target="_blank">reference here</a> about the events in vue.</p>
<p>Then will create our ajax pagination component, <strong>Paginator.vue</strong> under the components directory like so.</p>
<pre><code class="language-javascript">&lt;template&gt;
    &lt;ul class="pagination" v-if="resultSet.total &amp;&amp; resultSet.total &gt; 0"&gt;
        &lt;li :class="{ 'disabled': resultSet.prev_page_url == null }"&gt;
            &lt;a href="javascript:;" @click="goToPage(1)"&gt;&amp;lt;&amp;lt;&lt;/a&gt;
        &lt;/li&gt;

        &lt;li :class="{ 'disabled': resultSet.prev_page_url == null }"&gt;
            &lt;a href="javascript:;" @click="paginatePrevData()"&gt;&amp;lt;&lt;/a&gt;
        &lt;/li&gt;

        &lt;li v-for="page in resultSet.last_page" :class="{ 'active': page == resultSet.current_page }"&gt;
            &lt;a href="javascript:;" @click="goToPage(page)"&gt;page&lt;/a&gt;
        &lt;/li&gt;

        &lt;li :class="{ 'disabled': resultSet.next_page_url == null }"&gt;
            &lt;a href="javascript:;" @click="paginateNextData()"&gt;&amp;gt;&lt;/a&gt;
        &lt;/li&gt;

        &lt;li :class="{ 'disabled': resultSet.next_page_url == null }"&gt;
            &lt;a href="javascript:;" @click="goToPage(resultSet.last_page)"&gt;&amp;gt;&amp;gt;&lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/template&gt;

&lt;script&gt;
    export default {
        props: [
        'resultSet'
        ],

        methods: {
            goToPage(page) {
                this.changePage(this.resultSet.path+"?page="+page);
            },

            paginateNextData() {
                this.changePage(this.resultSet.next_page_url);
            },

            paginatePrevData() {
                this.changePage(this.resultSet.prev_page_url);
            },

            changePage(url) {
                axios.get(url)
                .then(response =&gt; {
                    Event.fire('onPageChanged', response.data);
                })
                .catch(error =&gt; {
                    console.log(error.response.data);
                });
            }
        }
    }
&lt;/script&gt;</code></pre>
<p>Under the scripts tag, first will define the props for paginator component as <code>resultSet</code> to accept our entire json collection and access its keys to generate the html pagination component.
let's create few methods under the method closure</p>
<ul>
<li>changePage(url) - it will accept the pagination url and using axios to perform the ajax request to your api and under the response callback will fire the <code>onPageChanged</code> event to transfer the updated data to the root component where we are listening this event.</li>
<li>paginatePrevData() - it will perform the ajax request to the previous page url.</li>
<li>paginateNextData() - it will perform the ajax request to the next page url.</li>
<li>goToPage(page) - it will perform the ajax request to the specified page number.</li>
</ul>
<p>As you can see here we are using axios library to handle ajax http requests and responses across the project, it is kind a promise based http client.</p>
<p>Under the template will design the bootstrap based pagination using un-ordered list and add the click events to each pagination link to make it reactive. also from api we are using some essential json objects such as <strong>next_page_url, prev_page_url, path, total, last_page, current_page</strong> to build our pagination links. also using <code>v-for</code> directive to generate page number, also we are using vue's class binding and attribute binding concept to highlight the link and make it disabled if we got the url as null from the api respectively.</p>
<p>Then will create a <strong>Users.vue</strong> component to the components directory and also add the <code>&lt;paginator&gt;</code> component to it like so.</p>
<pre><code class="language-javascript">&lt;template&gt;
    &lt;div class="container"&gt;
        &lt;div class="row"&gt;
            &lt;div class="col-md-10 col-md-offset-1"&gt;
                &lt;div class="panel panel-default"&gt;
                    &lt;div class="panel-heading"&gt;Users Dashboard&lt;/div&gt;

                    &lt;div class="panel-body"&gt;
                        &lt;div&gt;
                            &lt;a href="javascript:;" class="btn btn-sm btn-default"&gt;&lt;i class="fa fa-plus"&gt;&lt;/i&gt; Create New&lt;/a&gt;
                            &lt;br&gt;
                            &lt;br&gt;
                        &lt;/div&gt;

                        &lt;table class="table table-striped table-borderless"&gt;
                            &lt;thead&gt;
                                &lt;tr&gt;
                                    &lt;th&gt;Name&lt;/th&gt;
                                    &lt;th&gt;Email&lt;/th&gt;
                                    &lt;th&gt;&lt;/th&gt;
                                &lt;/tr&gt;
                            &lt;/thead&gt;

                            &lt;tbody&gt;
                                &lt;tr v-for="user in users.data"&gt;
                                    &lt;td v-text="user.name"&gt;&lt;/td&gt;
                                    &lt;td v-text="user.email"&gt;&lt;/td&gt;
                                    &lt;td class="pull-right"&gt;
                                        &lt;a href="javascript:;" title="edit" class="btn btn-sm btn-default"&gt;&lt;i class="fa fa-pencil"&gt;&lt;/i&gt;&lt;/a&gt;&amp;nbsp;&amp;nbsp;
                                        &lt;a href="javascript:;" title="delete" class="btn btn-sm btn-danger"&gt;&lt;i class="fa fa-trash"&gt;&lt;/i&gt;&lt;/a&gt;
                                    &lt;/td&gt;
                                &lt;/tr&gt;
                            &lt;/tbody&gt;
                        &lt;/table&gt;

                        &lt;!-- Paginator component --&gt;
                        &lt;paginator :result-set="users" &gt;&lt;/paginator&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
    export default {
        data() {
            return {
                users: [],
            }
        },

        mounted() {
            this.getAllUsers();
        },

        created() {
            /* fire ajax pagination event */
            Event.listen('onPageChanged', (data) =&gt; {
                this.users = data;
            });
        },

        methods: {
            getAllUsers() {
                axios.get("/api/users")
                .then(response =&gt; {
                    this.users = response.data;
                });
            }
        }
    }
&lt;/script&gt;</code></pre>
<p>Here we are showing the users data in table format.</p>
<p>Under the script tag, first of all we are defining users as empty array object under the data() method, then we define our own getAllUsers() method under the methods closure and calling it on mounted() method of our root component.</p>
<p>Here we will bind the users object with paginator component's result-set property to paginate our users data and we are listening the custom onPageChanged event on created method of root component to refresh the user data each time we navigate through the pagination links under the independent paginator component.</p>
<p>Also as you can see under the template we are iterating the user data using <code>v-for</code> directive and binding the column values with table cells using <code>v-text</code> directive.</p>
<p>Then we will do some refactoring in <strong>app.js</strong>, here we will register our paginator component and users component with vue, it will look like as below.</p>
<pre><code class="language-javascript">import './bootstrap';

/* Ajax-Pagination component */
Vue.component(
    'paginator',
    require('./components/Paginator.vue')
);

Vue.component(
    'users',
    require('./components/Users.vue')
);

const app = new Vue({
    el: '#app'
});</code></pre>
<p>Now everything is almost done, the only thing is we need to run a laravel-mix which uses <code>webpack</code> to generate our final assets which will be in pure javascript form. Also me using the default webpack.mix.js from the root without changing any code that comes with the default laravel installation.</p>
<pre><code class="language-bash">$ npm run dev</code></pre>
<p>It will generate the final assets under css or js folder in public directory as you can see we are not touching the webpack.mix.js at the root and keep that file as it is, but you can modify it as per your requirement.</p>
<p>after that will create a simple blade view app.blade.php and add our users component to it as below;</p>
<pre><code class="language-html">&lt;!DOCTYPE html&gt;
&lt;html lang="{{ app()-&gt;getLocale() }}"&gt;
&lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;

    &lt;!-- CSRF Token --&gt;
    &lt;meta name="csrf-token" content="{{ csrf_token() }}"&gt;

    &lt;title&gt;{{ config('app.name', 'Laravel') }}&lt;/title&gt;
    &lt;link href="{{ asset('css/app.css') }}" rel="stylesheet"&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div id="app"&gt;
        &lt;users&gt;&lt;/users&gt;
    &lt;/div&gt;

    &lt;!-- Scripts --&gt;
    &lt;script src="{{ asset('js/app.js') }}"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>
<p>route <strong>web.php</strong></p>
<pre><code class="language-php">Route::get('/', function() {
    return view('app');
});</code></pre>
<p>Now I can say we are done with our vue js based pagination component, now you can use this pagination component even with multiple components were you required a pagination.</p>
<p>our final result will be as below</p>
<img src="/assets/images/paginator-sample.jpg" width="100%">
<p>Thank you folks.</p>
<p><strong><em>reference links</em></strong> :</p>
<ul>
<li><a href="https://laravel.com/docs/5.4/mix" target="_blank">Laravel Mix</a></li>
<li><a href="https://vuejs.org/v2/guide/single-file-components.html" target="_blank">Vue Single file Component</a></li>
<li><a href="https://laravel.com/docs/5.4/mix" target="_blank">Axios</a></li>
</ul>
            		</div>
	</div>
    </div>

  <footer id="siteFooter" class="text-center">
    &copy; Vivek Dhumal 2017
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/assets/js/prism.js"></script>
</body>
</html>
